extends layout.pug
include mixins/cost.pug

block nav
    form(action=uploadRoute method="POST" class="d-flex" enctype="multipart/form-data")
        input(type="file" class="form-control me-2" name="csv")
        button(type="submit" class="btn btn-outline-light") Upload

block content
    ul(class="list-group mt-4")
        each transaction in transactions
            li(class="list-group-item list-group-item-action d-flex justify-content-between align-items-start")
                a(class="ms-2 me-auto w-100 list-view-item" href='/t/' + transaction.id rel="noopener noreferrer")
                    div(class="d-flex justify-content-between w-100")
                        div(class="fw-bold")= transaction.account
                        div(class="text-muted transaction-date")= transaction.date.toISOString().split('T')[0]
                    div(class="d-flex justify-content-between w-100")
                        p(class="m-0 w80ch text-muted")= transaction.purpose
                        +cost(transaction.value)
                    if transaction.labels
                        each label in transaction.labels
                            div(class="d-flex")
                                span(class="badge rounded-pill text-bg-primary")=label.name
        else
            li(class="list-group-item") No transactions available
